<mat-toolbar color="header">
  <a class="header__logo" [routerLink]="['/admin']" i18n> e-commerce store </a>
  <span class="l-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <img
      class="header__profile-image"
      src="assets/images/avatar-square.png"
      alt="Profile Picture" />
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout.emit()">
      <mat-icon>exit_to_app</mat-icon>
      <span i18n>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
