.auth {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
    background-color: #eceff1;

    .auth-container {
        height: 100vh;
        display: flex;
        background-size: cover;
        align-items: center;
    }

    .auth-box {
        max-width: 400px;
        min-width: 280px;
        margin: 0 auto;
        vertical-align: middle;
    }

}