.header {
    z-index: 9;
    position: absolute;
    display: flex;
    right: 2.8rem;
    left: 2.8rem;
    background-color: white;
    top: 1rem;
    padding: 1.4rem 1.9rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    &.header-fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    @media screen and (max-width: 992px) {
        padding: 1.4rem 1.5rem;
        right: 1.8rem;
        left: 1.8rem;
    }

    @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .header__logo {
        flex: 1;
        display: flex;
        align-items: center;

        a {
            color: #000;
            text-decoration: none;
        }
    }

    .header__icons {
        display: flex;
        align-items: center;


        img {
            width: 1.7rem;
            height: auto;

            @media screen and (max-width: 768px) {
                width: 2.125rem;

                &.burger {
                    width: 1.65rem;
                }
            }
        }
    }

}