<header class="header" [class.header-fixed]="isHeaderFixed">
  <div class="header__logo">
    <a [routerLink]="['/homepage']" i18n> e-commerce store </a>
  </div>
  <div class="header__icons">
    <a
      *ngIf="user; else notUser"
      href="javascript:void(0)"
      [matMenuTriggerFor]="menu">
      <img src="assets/images/person-grey.png" alt="Person" />
    </a>

    <ng-template #notUser>
      <a [routerLink]="['/auth/register']">
        <img src="assets/images/person-grey.png" alt="Person" />
      </a>
    </ng-template>
  </div>
</header>
<mat-menu #menu="matMenu">
  <button (click)="logout.emit()" mat-menu-item i18n>Log Out</button>
</mat-menu>
